<VirtualHost *:80>
     ServerAdmin webmaster@centos.org
     ServerName {{ mirmon_public_hostname }}
     ServerAlias {{ inventory_hostname }}
     DocumentRoot /var/www/mirmon-status
     IndexOptions +FancyIndexing

     Header always set X-Frame-Options "SAMEORIGIN"
     Header always set X-Xss-Protection "1; mode=block"
     Header always set X-Content-Type-Options "nosniff"
     Header always set Referrer-Policy "same-origin"

{% if mirmon_https %}
   RewriteEngine On
   RewriteCond $1 !^.well-known
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
{% endif %} 

<Location "/.well-known/">
    ProxyPass "http://cephas.centos.org/.well-known/"
</Location>


</VirtualHost>

