#!/bin/bash

SYNCTIME="$(date)"
tmp_dir="$(ls /tmp/|egrep -i 'mariadb.service|mysql.service')"

for list in full-mirrorlist full-altarchlist ; do

  if [ -e /tmp/$tmp_dir/tmp/${list}.csv ]; then 
    rm -f /tmp/$tmp_dir/tmp/${list}.csv
  fi

  # Running with priv to be able to read into systemd private tmp directory
  mysql {{ mirmon_db_name }} < /var/lib/centos-mirrors/${list}.sql
  sed -i '1s/^/"Location","Region","Sponsor","Sponsor URL","HTTP mirror","HTTPS mirror","Rsync link"\n/' /tmp/$tmp_dir/tmp/${list}.csv
 /bin/cp /tmp/$tmp_dir/tmp/${list}.csv /var/www/mirmon-status/

done
/sbin/restorecon -R /var/www/mirmon-status/





