[CentOS]
       path = /home/centos/centos
       comment = The official CentOS Mirror
       exclude = FOOTER.html HEADER_AD.html {{ mirmon_centos_unreleased }}
       list = no
       hosts allow = IPLIST
       hosts deny = *

[CentOS-incdvd]
       path = /home/centos/centos
       comment = The official CentOS Mirror
       exclude = FOOTER.html HEADER_AD.html {{ mirmon_centos_unreleased }}
       list = no
       hosts allow = IPLIST
       hosts deny = *

[altarch]
       path = /home/centos/altarch
       comment = The official CentOS altarch Mirror
       exclude = FOOTER.html HEADER_AD.html {{ mirmon_centos_unreleased }}
       list = no
       hosts allow = IPLIST
       hosts deny = *

